name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: libft
      run: git submodule update --init libft
    - name: make
      run: make
    - name: test
      run: ./minishell_test/run
